.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: max(2vw, 24px);
    font-weight: 900;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.navbar-input-search {
    padding: 13px 13px 13px 13px;
    outline: none;
    border: none;
    background: #f2f1f1;
    border-radius: 10px;
}
@media (max-width: 598px) {
    .food-display-list {
        grid-template-columns:  repeat(auto-fill, minmax(150px, 1fr))
    }
    .navbar-input-search {
        padding: 10px ;
        font-size: 11px;
    }

}
@media (max-width: 450px) {
    .navbar-input-search {
        padding: 7px ;
        font-size: 9px;
    }
}
@media (max-width: 400px) {
    .navbar-input-search {
        padding: 8px 5px 8px 5px;
        font-size: 9px;
    }
    .food-display h2 {
        font-size: 16px;
    }
}
